html, body, div, canvas {
  font-family: 'Questrial', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #eee;
}

p, div, small, h1, h2, h3, h4, h5, a, a:link, a:visited, a:active, a:hover {
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

a:hover {
  color: #2288ff;
}

#site-title {
  font-size: 3em;
  text-decoration: none;
}
